*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 234, 151);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
background-color: rgba(95, 255, 2, 0.658);
}
.nav{
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
}

.nav_title:hover{
     color: rgb(171, 255, 255);
}
.nav_ul{
    display: flex; gap: 2rem;
}

.nav_list_item{
    list-style-type: none;
}
.nav_a{
    text-decoration: none; font-size: 1.5rem;
}
.nav_a:hover{
    color: white;
}

.main{
    width: 90%; margin: 0 auto;
}

/* herencia */

.main_article{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

.main_ul{
    color: blue;
}
.item_a{
    text-decoration: none;
     font-size: 2rem;
}
.section_cards{
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.cards_card{
    
    gap: 1rem;
    padding: .5rem;
    border-radius: 15px;
    background-color: rgb(140, 245, 70);
    width: 275px;
}
.card_img{
    border-radius: 15px;
    width: 100%;
}
.card_title{
    margin: 1rem 0;
}
.card_descripcion{
    margin: 1rem 0;

}
.card_btn{
    margin-bottom: 1rem;
    border: none; 
    background-color: blue; 
    padding: .5rem; 
    color: yellow; 
    width: 70px;
    border-radius: 15px;
}