
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

.coming-soon-regular {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3d1358;
    font-family: Coming Soon;
}
.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    height: 60px;
    background-color: #ac6be1;
}
.nav{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_menu{
    position: relative;
}

.header_label{
  display: inline-block; 
  cursor: pointer;
  transition: transform 0.3s ease; 
}
.header_label:hover{
    transform: scale(1.2);
}
.header_figure{
    width: 30px;
    height: 30px;
}
.header_img{
    display: block;
    width: 100%;
}

.header_checkbox{
    display: none;
}

.header_ul {
  /* display: none; */
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 300px;
  text-align: center;
  background: rgb(235, 223, 223);
  list-style: none;
  padding: 10px;

  transform: translateX(-150%);
  transition: transform 0.7s ease;
}



.header_checkbox:checked ~ .header_ul {
  
  transform: translateX(0);
 
}

.header_nav_list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.header_a{
    font-size: 1.5rem;
    text-decoration: none;
}




/* main */

.main{
    width: 90%; margin: 0 auto;
}

/* herencia */

.main_article{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

.main_ul{
    color: blue;
}
.item_a{
    text-decoration: none;
     font-size: 2rem;
}
.section_cards{
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.cards_card{
    
    gap: 1rem;
    padding: .5rem;
    border-radius: 15px;
    background-color: rgb(140, 245, 70);
    width: 275px;
}
.card_img{
    border-radius: 15px;
    width: 100%;
}
.card_title{
    margin: 1rem 0;
}
.card_descripcion{
    margin: 1rem 0;

}
.card_btn{
    margin-bottom: 1rem;
    border: none; 
    background-color: blue; 
    padding: .5rem; 
    color: yellow; 
    width: 70px;
    border-radius: 15px;
}
.footer{
    width: 100%;
    margin: 1rem auto;
    background-color: rgba(95, 255, 2, 0.658);
}

.form{
    display: flex; 
    flex-direction: column; 
    gap: .5rem; 
    width: 50%; 
    margin: 0 auto;
}
.input_email{
    height: 1.5rem;
}

.btn_enviar{
    width: 250px; 
    margin: 0 auto; 
    margin-top: 1rem;
}