*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 234, 151);
}
.header{
background-color: rgba(95, 255, 2, 0.658);
}
.nav{
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
}

.nav_title:hover{
     color: rgb(171, 255, 255);
}
.nav_ul{
    display: flex; gap: 2rem;
}

.nav_list_item{
    list-style-type: none;
}
.nav_a{
    text-decoration: none; font-size: 1.5rem;
}
.nav_a:hover{
    color: white;
}

.main{
    width: 90%; margin: 0 auto;
}

/* herencia */

.main_article{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}



